.cabecera {background-color: darkslategrey;
           height: 180px;
           margin-bottom: 15px;
            }

nav {/*background-color: aliceblue;*/
    height: 80px;
    margin: 0 auto;
    margin-top: -150px;
    text-align: center;
}

.slider {/*background-color: gold;*/
        margin-top: 40px;
}

.main {/*background-color: #5CB430;*/
        width: 95%;
        max-width: 1200px;
        min-height: 600px;
        margin: 70px auto 20px auto;
}

.main .productosmain {width: 24.4%;
        /*height: 300px;*/
        /*background-color: gold;*/
        float: left;
        margin-left: 5px;
        margin-top: 5px;
        -webkit-box-shadow: 3px 4px 7px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 7px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 7px -1px rgba(0,0,0,0.75);
}
.main .productosmain .precio {background-color: #2C2C2C; color: gold; font-weight: bold; padding: 10px; text-align: center}
.main .limpiar {clear: both}

footer {width: 100%;
        height: 110px;
        background-color: #2C2C2C;
        margin-top: 80px;
}

footer p{color: gold;
        text-align: center;
        box-sizing: border-box; /*esta propiedad es para no desbordar el footer con el padding*/
        padding: 35px;
}

/* addcategoria */
.centrar {text-align: center;
            margin-bottom: 2px}


.showcategorias {margin: 50px auto 0 auto;
                max-width: 900px;
                width: 100%}

@media screen and (max-width: 900px){
    .main .productosmain{width: 32.4%}
}

@media screen and (max-width: 600px){
    .main .productosmain{width: 48.5%}
}

/*mostrarproductos.php*/
.fuente{
    font-family: 'Ubuntu', sans-serif;
}

/*destallesproducto.php*/
.ocultar{
    display: none;
}

/*buscador*/
.form1{
    width: 300px;
}
.fieldset1{
    background-color: #fff;
    padding: 0px 0 0 40px;
    border-radius: 5px;
    display: inline-block;
}
.input1, .button1{
    position: relative;
    float: left;
    width: 200px;
    height: 30px;
    padding: 0px;
}
.input1{
    border: none;
    color: #666;
    z-index: 2;
}
.button1{
    width: 50px;
    border: 1px solid #666;
    background-color: #333;
    transform: translate(-50px,0);
    transition-duration: .3s;
}
.fa{
    transform: translate(-200px,0px);
    transition: all .1s ease-in-out;
    color: #999;
}
.input1:focus{
    outline: none;
}
.input1:focus + .button1{
    transform: translate(0,0);
    transition-duration: .3s;
    font-size: 17px;
}
.input1:focus + .button1 .fa{
    transform: translate(0,0);
    transition-duration: .7s;
    color: #fff;
}

/*index.php ZONA CLIENTES*/
.tcat{text-align: center; font-size: 50px; font-family: "Ubuntu"}