.tadministrador{text-align: center; font-size: 50px; font-family: "Ubuntu"}

.formulario{max-width:700px; width: 100%; margin: 50px auto 0px auto;}

.ajusteEspecial{margin-left: 122px}

/* formaddcategoria.php*/

.tcat{text-align: center; font-size: 50px; font-family: "Ubuntu"}

/* formaddproducto.php */
.ocultar{display: none}